.container {
  background: linear-gradient(
    to right,
    rgb(240, 240, 0),
    yellow,
    rgb(240, 240, 0)
  );
  padding: 12px;
  overflow: hidden;
  height: 50vh;
}

.upper {
  display: flex;
}

.title {
  width: calc(50% - 1px);
}

.nav {
  width: calc(50% - 1px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lower {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lower h2 {
  width: 50%;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px rgba(51, 51, 51, 0.5);
}

.search {
  position: relative;
  bottom: 40px;
  background: white;
  display: flex;
  padding: 2px;
  border-radius: 25px;
  width: 35%;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
}

.search_input {
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 0 10px;
  width: 100%;
  font-size: 18px;
}

.search_btn {
  background: black;
  color: white;
  border-radius: 100%;
  padding: 10px;
  /* width: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .nav {
    display: none;
  }
  .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    width: 80%;
  }
  .search_input {
    font-size: 10px;
  }
  .search_btn {
    padding: 5px;
    font-size: 15px;
  }
  .lower h2 {
    width: 100%;
    font-size: 35px;
  }
  .nav_menu {
    display: block;
    overflow: hidden;
  }
  .burger_menu_false {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    cursor: pointer;
  }
  .burger_menu_false > div {
    height: 3px;
    width: 18px;
    background: black;
  }
  .burger_menu_true {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15px;
    cursor: pointer;
  }

  .burger_menu_true > div {
    height: 3px;
    width: 20px;
    background: red;
  }
  .burger_menu_true > div:nth-child(1) {
    transform: rotate(50deg);
  }
  .burger_menu_true > div:nth-child(2) {
    transform: rotate(-50deg);
  }

  .nav_list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    right: 0;
    top: 40px;
    height: 320px;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.452);
    transition: 5s ease-in-out;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
