.card_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background: rgb(68, 37, 146);
  padding: 20px;
}
.card {
  box-shadow: 1px 2px 5px black;
  background: #fff;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.card:hover {
  padding: 8px;
  box-shadow: 1px 5px 5px black;
  transition: 0.2s;
}

.img > img {
  max-width: 100%;
  border-radius: 2px;
}

.title {
  font-weight: bolder;
}
.price {
  font-size: 14px;
}

.available {
  opacity: 0.8;
  font-size: 14px;
}

@media only screen and (max-width: 800px) {
  .card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
